
<div id="welcomeLine" class="row">
    <div class="span6">
        Chào mừng bạn!<strong> User</strong>
    </div>
    <div class="span6">
        <div class="pull-right">
            <a href="product_summary.html">
                <span class="btn btn-mini btn-primary">
                    <i class="icon-shopping-cart icon-white"></i>
                    [ 3 ] Sản phẩm trong giỏ hàng của bạn 
                </span>
            </a>
        </div>
    </div>
</div>

