<!-- Footer ================================================================== -->
<div id="footerSection">
    <div class="container">
        <div class="row">
            <div class="span3">
                <h5>TÀI KHOẢN</h5>
                <a href="login.html">TÀI KHOẢN CỦA BẠN</a>
                <a href="login.html">THÔNG TIN CÁ NHÂN</a>
                <a href="login.html">ĐỊA CHỈ LIÊN HỆ</a>
                <a href="login.html">GIẢM GIÁ</a>
                <a href="login.html">LỊCH SỬ ĐƠN HÀNG</a>
            </div>
            <div class="span3">
                <h5>THÔNG TIN</h5>
                <a href="contact.html">LIÊN HỆ</a>
                <a href="register.html">ĐĂNG KÝ</a>
                <a href="legal_notice.html">THÔNG BÁO PHÁP LÝ</a>
                <a href="tac.html">ĐIỀU KHOẢN VÀ ĐIỀU KIỆN</a>
                <a href="faq.html">HỎI ĐÁP</a>
            </div>
            <div class="span3">
                <h5>CỬA HÀNG CỦA CHÚNG TÔI</h5>
                <a href="#">SẢN PHẨM MỚI</a>
                <a href="#">BÁN CHẠY</a>
                <a href="special_offer.html">ƯU ĐÃI ĐẶC BIỆT</a>
                <a href="#">NHÀ SẢN XUẤT</a>
                <a href="#">NHÀ CUNG CẤP</a>
            </div>
            <div id="socialMedia" class="span3 pull-right">
                <h5>TRUYỀN THÔNG XÃ HỘI</h5>
                <a href="#"><img width="60" height="60" src="frontend/images/facebook.png" title="facebook" alt="facebook" /></a>
                <a href="#"><img width="60" height="60" src="frontend/images/twitter.png" title="twitter" alt="twitter" /></a>
                <a href="#"><img width="60" height="60" src="frontend/images/youtube.png" title="youtube" alt="youtube" /></a>
            </div>
        </div>
        <p class="pull-right">&copy; Shopping Online</p>
    </div>
    <!-- Container End -->
</div>
