    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Shopping Online</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Bootstrap style -->
    <link id="callCss" rel="stylesheet" href="../frontend/stylesheets/bootstrap.min.css" media="screen" />
    <link href="../frontend/stylesheets/base.css" rel="stylesheet" media="screen" />
    <!-- Bootstrap style responsive -->
    <link href="../frontend/stylesheets/bootstrap-responsive.min.css" rel="stylesheet" />
    <link href="../frontend/stylesheets/font-awesome.css" rel="stylesheet" type="text/css">
    <!-- Google-code-prettify -->
    <link href="../frontend/stylesheets/prettify.css" rel="stylesheet" />
    <link href="../frontend/stylesheets/style.css" rel="stylesheet" />
    <!-- fav and touch icons -->
    <link rel="shortcut icon" href="../frontend/images/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="../frontend/images/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="../frontend/images/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="../frontend/images/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="../frontend/images/apple-touch-icon-57-precomposed.png">
    <style type="text/css" id="enject"></style>