<div id="logoArea" class="navbar">
    <a id="smallScreen" data-target="#topMenu" data-toggle="collapse" class="btn btn-navbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </a>
    <div class="navbar-inner">
        <a class="brand" href="index.html"><img src="../frontend/images/logo.png" alt="Bootsshop" /></a>
        <form class="form-inline navbar-search" method="post" action="products.html">
            <input id="srchFld" class="srchTxt" type="text" />
            <select class="srchTxt">
                <option>All</option>
                <option>Điện tử</option>
                <option>Quần áo </option>
                <option>Thức ăn và đồ uống</option>
                <option>Sức khỏa và làm đẹp </option>
                <option>Thể thao và giải trí </option>
                <option>Sách và vui chơi </option>
            </select>
            <button type="submit" id="submitButton" class="btn btn-primary">Go</button>
        </form>
        <ul id="topMenu" class="nav pull-right">
            <li class=""><a href="special_offer.html">Ưu đãi đặc biệt</a></li>
            <li class=""><a href="normal.html">Giao hàng</a></li>
            <li class=""><a href="contact.html">Liên hệ</a></li>
        </ul>
    </div>
</div>