<div id="sidebar" class="span3">
       <ul id="sideManu" class="nav nav-tabs nav-stacked">
            <li class="subMenu open"><a> ĐIỆN TỬ</a>
                <ul>
                    <li><a href="/product/may-anh" class="active" ><i class="icon-chevron-right"></i>Máy ảnh</a></li>
                    <li><a href="/product/the-nho-va-usb"><i class="icon-chevron-right"></i>Thẻ nhớ, USB</a></li>
                    <li><a href="/product/dien-thoai-di-dong"><i class="icon-chevron-right"></i>Điện thoại di động</a></li>
                </ul>
            </li>

        <li class="subMenu"><a> QUẦN ÁO </a>
            <ul style="display:none">
                <li><a href="#"><i class="icon-chevron-right"></i>Women's Clothing</a></li>
                <li><a href="#"><i class="icon-chevron-right"></i>Women's Shoes</a></li>
                <li><a href="#"><i class="icon-chevron-right"></i>Women's Hand Bags</a></li>
                <li><a href="#"><i class="icon-chevron-right"></i>Men's Clothings</a></li>
                <li><a href="#"><i class="icon-chevron-right"></i>Men's Shoes</a></li>
                <li><a href="#"><i class="icon-chevron-right"></i>Kids Clothing</a></li>
                <li><a href="#"><i class="icon-chevron-right"></i>Kids Shoes</a></li>
            </ul>
        </li>
        <li class="subMenu"><a>THỰC PHẨM VÀ ĐỒ UỐNG</a>
            <ul style="display:none">
                <li><a href="#"><i class="icon-chevron-right"></i>Angoves</a></li>
                <li><a href="#"><i class="icon-chevron-right"></i>Bouchard Aine & Fils</a></li>
                <li><a href="#"><i class="icon-chevron-right"></i>French Rabbit</a></li>
                <li><a href="#"><i class="icon-chevron-right"></i>Louis Bernard</a></li>
                <li><a href="#"><i class="icon-chevron-right"></i>BIB Wine (Bag in Box)</a></li>
                <li><a href="#"><i class="icon-chevron-right"></i>Other Liquors & Wine</a></li>
                <li><a href="#"><i class="icon-chevron-right"></i>Garden</a></li>
                <li><a href="#"><i class="icon-chevron-right"></i>Khao Shong</a></li>
            </ul>
        </li>
        <li><a href="#">SỨC KHỎE VÀ LÀM ĐẸP</a></li>
        <li><a href="#">THỂ THAO VÀ GIẢI TRÍ</a></li>
        <li><a href="#">SÁCH VÀ VUI CHƠI</a></li>
    </ul>
    <br/>
    
    <div class="thumbnail">
        <img src="../frontend/images/payment_methods.png" title="Bootshop Payment Methods" alt="Payments Methods">
        <div class="caption">
            <h5>Phương thức thanh toán</h5>
        </div>
    </div>
</div>