<% 
    photoHelper = (folder, photoName, alt = 'photo', className = 'img-responsive img-avatar') => {   
        if (photoName == null) {
            photoName = 'noavatar.png'; 
        }
        return  `<a href = "${folder + photoName}"><img class = "${className}" src = "${folder + photoName}"  alt = "${alt}"></a>`; 
    } 
%>