<h2 style="text-align:center">---404---</h2>
<h2 style="text-align:center">Không tìm thấy trang bạn yêu cầu</h2>

<h1>
    <%= message %>
</h1>
<h2>
    <%= error.status %>
</h2>
<pre><%= error.stack %></pre>